/craftbukkit-1.10.2.jar
/spigot-1.10.2.jar
/plugins/WorldGuard/cache
/plugins/dynmap/web/tiles/_markers_/marker_*
/plugins/TerrainControl/worlds/test
/.idea
/McStaudamm.iml
/plugins/dynmap/web/tiles/*
!/plugins/dynmap/web/tiles/_markers_
!/plugins/dynmap/web/tiles/faces
/mstore
/Mandoras_the_end
/Mandoras_nether
/Mandoras
/logs
/crash-reports
/CraftBukkit
/Bukkit
/BuildData
/apache-maven-3.2.5
/Setrolas
/Spigot
/Tarlion
/work
/BuildTools.jar
/BuildTools.log.txt
/craftbukkit-1.8.8.jar
/help.yml
/spigot-1.8.8.jar
/plugins/MinePacks/backpack.db
/wepif.yml
/usercache.json
/plugins/Essentials/userdata
/plugins/GroupManager/backup/*
/plugins/Jobs/jobs.sqlite.db
/plugins/dynmap/Setrolas.pending
/pluhins/dynmap/Salyrion.pending
/plugins/dynmap/markers.yml.old
/plugins/TerrainControl/worlds/test/*
/plugins/MassiveCore/*
!/plugins/MassiveCore/conf.json
/plugins/MinePacks/backpack.db
/plugins/dynmap/Salyrion.pending
/Salyrion
/plugins/Citizens/saves.yml
/plugins/dynmap/ids-by-ip.txt
/plugins/dynmap/web/tiles/_markers_/marker_Mandoras.json
/plugins/dynmap/web/tiles/_markers_/marker_Tarlion.json

