/.idea
/McStaudamm.iml
/plugins/dynmap/web
/mstore
/Mandoras_the_end
/Mandoras_nether
/Mandoras
/logs
/crash-reports
/CraftBukkit
/Bukkit
/BuildData
/apache-maven-3.2.5
/Setrolas
/Spigot
/Tarlion
/work
/BuildTools.jar
/BuildTools.log.txt
/craftbukkit-1.8.8.jar
/help.yml
/spigot-1.8.8.jar
/wepif.yml
/usercache.json
/plugins/Essentials/userdata
